@page
@model IndexModel
@{
    ViewData["Title"] = "Dashboard";
}

<div>
    <h3>View Existing Schedules</h3>
    <table>
        <tr ng-repeat="e in shifts">
            <td>{{e.lname}}</td>
            <td>{{e.fname}}</td>
            <td>{{e.startDT}}</td>
            <td>{{e.endDT}}</td>
            <td>{{e.position}}</td>
        </tr>
    </table>
    <p>{{test}}</p>
</div>

